<%= stylesheet_link_tag 'ishare.password', :plugin => 'redmine_ishare' %>

<div class="wrapper">
<!--  <img src="user_pic.jpg" alt="" class="user-img" />-->
  <%= ishare_random_ava_login %>
  <h3>Issue access</h3>
    <%= form_with :method => 'post' do |f| %>
    <div class="pass-feild">
      <%= image_tag("51-256.png", alt: "", class: "ip-pass-icon", :plugin => 'redmine_ishare') %>
<!--      <img src="51-256.png" alt="" class="ip-pass-icon" />-->
      <%= f.password_field :password, :maxlength => 10, :name =>"pass", :placeholder => "Password", :class => "ip-pass" %>
    </div>
    <%= f.submit "Login", :class=>"ip-btn"   %>
    <h6>Enter any Password & click Login</h6>
    <span class="hor-line"></span>
    <% end %>
</div>

